@using FLRC.Leaderboards.Core.Metrics
@using FLRC.Leaderboards.Web.Areas.Admin
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<CourseResults<Time>>

<h2>@Model.Title</h2>

<article class="card card-highlighted">
	<section class="card-body">
	</section>
</article>