@using System.Text.Json
@using FLRC.Leaderboards.Core.Teams
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<CourseResults<TeamResults>>

@await Component.InvokeAsync("AddResultButton", Model.Data.Course)
<h2>@Model.Title</h2>

<article class="card card-highlighted">
	<section class="card-body">
		@await Html.PartialAsync("CourseInfo", Model.Data.Course)
		@await Html.PartialAsync("ResultFilter", Model.Data)

		<script>
			const fields = [
				{ name: 'Rank', width: 1, center: true, value: r => r.Rank.Value },
				{ name: 'Team', width: 2, center: true, value: r => r.Value.Team.Display, sort: r => r.Value.Team.Value, link: r => `/Team/Index/${r.Value.Team.Value}` },
				{ name: 'Average Age Grade', width: 2, center: true, value: r => r.Value.AverageAgeGrade.Display, sort: r => r.Value.AverageAgeGrade.Value, descending: true },
				{ name: 'Age Grade Points', width: 2, center: true, value: r => r.Value.AgeGradePoints },
				{ name: 'Total Runs', width: 2, center: true, value: r => r.Value.TotalRuns },
				{ name: 'Most Runs Points', width: 2, center: true, value: r => r.Value.MostRunsPoints },
				{ name: 'Total Points', width: 2, center: true, value: r => r.Value.TotalPoints },
			];

			const rows = @Html.Raw(JsonSerializer.Serialize(Model.Data.Results));
		</script>

		@await Html.PartialAsync("DataTable", (Model.Title, "lg"))

	</section>
</article>