body {
	background-color: var(--secondary-light);
	font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: var(--primary);
}

h2 .btn {
    font-family: inherit;
}

a {
    color: var(--primary);
}

a:hover, a:focus {
    color: var(--primary-dark);
}

.navbar {
    min-height: 7.5rem;
    border-bottom: 0.5rem solid var(--primary);
    background: var(--secondary-dark);
    background: linear-gradient(0deg, var(--secondary-dark) 0%, var(--secondary) 30%, white 100%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.navbar .container {
    position: relative;
    align-self: flex-end;
}

.navbar-brand .logo {
    max-width: min(9rem, 28vw);
    position: absolute;
    top: -4.6rem;
    left: 0;
    filter: drop-shadow(0 0 0.5rem #999);
}

.content-container {
    flex: 1 0 auto;
}

footer {
    border-top: 0.5rem solid var(--primary);
    background-color: var(--primary);
    color: white;
    padding: 1rem 1rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

footer a, footer a:hover, footer a:focus {
    color: white;
}

.dropdown-menu {
    left: revert;
    margin-left: -2rem;
}

#about {
    right: 0.25rem;
}

.dropdown-item {
    white-space: nowrap;
}

.dropdown-item:active {
    background-color: #f0f2f0;
}

.btn {
    border: 1px solid #dae0e5;
}

.no-activity-log .btn.activity-log {
    display: none;
}

table {
    white-space: nowrap;
    background-color: white;
    border-radius: 0.5rem;
}

th.sortable {
    cursor: pointer;
}

th.sortable .spacer {
    display: inline-block;
    width: 1rem;
}

table.leaderboard td.rank {
    width: 2rem;
}

table.leaderboard td.value {
    width: 5rem;
}

dt {
    text-align: right;
}

[v-cloak] {
    display: none;
}

.course-icon {
    margin-right: 0.25rem;
}

.card-highlighted {
    border-top: 0.25rem solid var(--primary-light);
}

.btn-xs {
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.8;
    border-radius: 0.2rem;
}

.tp-35 {
    opacity: 0.35;
}

.community .group {
	width: 2.5rem;
	margin: 0 0.25rem;
	cursor: default;
}

.community .star {
	display: inline-block;
	line-height: 1.1;
	width: 100%;
}

.community .star i {
	display: inline-block;
	width: 1rem;
}

.community .star i+i {
	margin-left: -0.5rem;
}

.community .star .fa-star {
	color:  var(--secondary-dark);
	text-shadow: 0 0 1px black;
}

.community .star .fa-running + .fa-running {
	margin-left: -0.75rem;
}

@media (max-width: 575px) {
    .primary-nav {
        flex: 1;
    }

    .navbar {
        min-height: revert;
    }

    .navbar .container {
        align-self: revert;
    }

    .navbar-brand {
        display: block;
        padding: 0;
        margin: -1rem 0 -2rem 0;
        text-align: center;
    }

    .navbar-brand .logo {
        position: revert;
    }

    #races {
        right: 0.25rem;
    }
}