<div class="alert alert-primary d-flex flex-column align-items-center">
    <h3>Choose your Challenge!</h3>
    <p>You're signed up, now it's time to select your courses.</p>
    <a class="btn btn-primary" href="/Challenge/Select">Let's do it!</a>
</div>