@using System.Text.Json
@using FLRC.ChallengeDashboard
@model ResultsViewModel<Time>

@await Html.PartialAsync("CourseInfo", Model.Course)
@await Html.PartialAsync("ResultFilter")

@{ var threshold = Model.Course.AverageThreshold(Model.Category);}

<div class="alert alert-info">Only athletes who have run this course at least @threshold times are displayed</div>

<script>
    const fields = [
        { name: 'Rank', center: true, value: r => r.Rank },
        { name: 'Name', center: false, value: r => r.Athlete.Name, link: r => `/Athlete/Index/${r.Athlete.ID}` },
        { name: 'Age', center: true, value: r => r.Athlete.Age },
        { name: 'Team', center: true, value: r => r.Athlete.Team.Display, sort: r => r.Athlete.Team.Value },
        { name: 'Average Time (Top @threshold)', center: true, value: r => r.Result.Duration.Display, sort: r => r.result.duration.Value.TotalSeconds },
        { name: '# of Runs', center: true, value: r => r.Count }
    ];

    results = @Html.Raw(JsonSerializer.Serialize(Model.RankedResults));
</script>

@await Html.PartialAsync("Results")