services:
  db:
    image: postgres:18
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: Leaderboard
    volumes:
      - data:/var/lib/postgresql/data
  challenge:
    image: ecoapm/flrc-challenge
    build:
      context: .
      args:
        app: "Challenge"
    ports:
      - "5001:8080"
    restart: always
  trail-circuit:
    image: ecoapm/flrc-trail-circuit
    build:
      context: .
      args:
        app: "TrailCircuit"
    ports:
      - "5002:8080"
    restart: always
  track:
    image: ecoapm/flrc-track
    build:
      context: .
      args:
        app: "Track"
    ports:
      - "5003:8080"
    restart: always
    volumes:
      - "../TrackResults:/TrackResults"

volumes:
  data: