@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<StatisticsViewModel>

<h2 id="table-header">@Model.Title</h2>

<div class="card card-highlighted mb-4">
	<div class="card-body">
		<table aria-labelledby="table-header" class="table table-bordered table-striped table-hover table-sm table-responsive-md text-center">
			<thead>
			<tr>
				<th scope="col" rowspan="2">Course</th>
				<th scope="colgroup" colspan="3">Participants</th>
				<th scope="colgroup" colspan="3">Total Runs</th>
				<th scope="colgroup" colspan="3">Total Miles</th>
				<th scope="colgroup" colspan="3">Average Runs</th>
			</tr>
			<tr>
				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>

				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>

				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>

				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var (key, stats) in Model.Data.OfficialCourses)
			{
				<tr>
					<th scope="row">
						<a href="/Results/Fastest/@key.ID">
							@key.Race.Name
						</a>
					</th>

					@await Html.PartialAsync("StatsData", stats)
				</tr>
			}
			<tr>
				<td colspan="13">
					<hr/>
				</td>
			</tr>
			@foreach (var (key, stats) in Model.Data.OtherCourses)
			{
				<tr>
					<th scope="row">
						<a href="/Results/Fastest/@key.ID">
							@key.Race.Name
						</a>
					</th>

					@await Html.PartialAsync("StatsData", stats)
				</tr>
			}
			<tr>
				<th scope="row">Total</th>

				@await Html.PartialAsync("StatsData", Model.Data.Total)
			</tr>
			</tbody>
		</table>
	</div>
</div>

<h3 id="history-header">History</h3>

<div class="card card-highlighted">
	<div class="card-body">
		<table aria-labelledby="history-header" class="table table-bordered table-striped table-hover table-sm table-responsive-md text-center">
			<thead>
			<tr>
				<th scope="col" rowspan="2">Week</th>
				<th scope="colgroup" colspan="3">Participants</th>
				<th scope="colgroup" colspan="3">Total Runs</th>
				<th scope="colgroup" colspan="3">Total Miles</th>
				<th scope="colgroup" colspan="3">Average Runs</th>
			</tr>
			<tr>
				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>

				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>

				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>

				<th scope="col">All</th>
				<th scope="col">F</th>
				<th scope="col">M</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var (startDate, stats) in Model.Data.History.OrderByDescending(w => w.Key))
			{
				<tr>
					<th scope="row">
						@startDate.ToString("M/d/yy")–@startDate.AddDays(6).ToString("M/d/yy")
					</th>

					@await Html.PartialAsync("StatsData", stats)
				</tr>
			}
		</table>
	</div>
</div>