@using System.Text.Json
@using FLRC.Leaderboards.Model;
@using FLRC.Leaderboards.Web.ViewModels
@model ChallengeViewModel

@functions
{
	string Style(Challenge challenge) => Model.Challenge == challenge
		? "secondary"
		: "light";
}

<h2>Ultra Challenges</h2>

<section class="mb-3">
	<div class="btn-group">
		@foreach (var challenge in Model.Challenges)
		{
			var url = $"/UltraChallenges/Results/{challenge.ID}";
			<a class="btn btn-sm btn-@Style(challenge)" href="@url">@challenge.Name</a>
		}
	</div>
</section>

<div class="card card-highlighted">
	<div class="card-body">
		<h3>@Model.Title</h3>

		<script>
			const fields = [
				{ name: 'Rank', center: true, value: r => r.Rank.Value },
				{ name: 'Name', value: r => r.Value.Athlete.Name, link: r => `/Athlete/Index/${r.Value.Athlete.ID}` },
				{ name: 'Age', center: true, value: r => r.Value.AthleteAge || '' },
				{ name: 'Category', center: true, value: r => r.Value.Athlete.Category, sort: r => r.Value.Athlete.Category ?? 'X'.charCodeAt(0) },
				{ name: 'Start Date', center: true, value: r => r.Value.StartTime.Display, sort: r => r.Value.StartTime.Value },
				{ name: 'Finish Date', center: true, value: r => r.Value.FinishTime.Display, sort: r => r.Value.FinishTime.Value },
				{ name: 'Total Time', center: true, value: r => r.Value.TotalTime.Display, sort: r => r.Value.TotalTime.Value },
				{ name: 'Running', center: true, value: r => r.Value.RunningTime.Display, sort: r => r.Value.RunningTime.Value },
				{ name: 'Age Grade', center: true, value: r => r.AgeGrade?.Display, sort: r => r.AgeGrade?.Value, descending: true }
			];

			const rows = @Html.Raw(JsonSerializer.Serialize(Model.Results));
		</script>

		@await Html.PartialAsync("LegacyDataTable")
	</div>
</div>