@using FLRC.Leaderboards.Core.Overall
@model OverallResultsViewModel

@functions
{
	string monthStyle(byte? month) => Model.Month == month
		? "secondary"
		: "light";

	string key(string value)
	{
		var key = Model.Config.Competitions.FirstOrDefault(c => c.Value == value).Key;
		var category = key.Contains("/") ? string.Empty : "X";
		return $"{key}/{category}";
	}
}

@if (Model.Config.Features.Monthly && Model.Months.Count > 1)
{
	<div class="row mb-2">
		<div class="col-12 text-center">
			<div class="flex-wrap btn-group">
				<a class="btn btn-sm btn-@monthStyle(null)" href="/Overall/@key(Model.ResultType)">All</a>
				@foreach (var month in Model.Months)
				{
					<a class="btn btn-sm btn-@monthStyle((byte) month.Month)" href="/Overall/@key(Model.ResultType)/@month.Month">
						@month.ToString("MMMM")
					</a>
				}
			</div>
		</div>
	</div>
}