@using FLRC.Leaderboards.Core.Overall
@model OverallResultsViewModel

@functions
{
	string style(string type) => Model.ResultType == type
		? "secondary"
		: "light";
}

<div class="btn-group mb-3">
	@foreach (var key in Model.Config.Competitions.Keys)
	{
		<a class="btn btn-sm btn-@style(Model.Config.Competitions[key])" href="/Overall/@key">@Model.Config.Competitions[key]</a>
	}
</div>