@using FLRC.Leaderboards.Web.ViewModels
@model OverallResults<object>

@functions
{
	string Style(string type) => Model.ResultType == type
		? "secondary"
		: "light";
}

<div class="btn-group flex-wrap mb-3">
	@foreach (var key in Model.ResultTypes.Keys)
	{
		var category = key.Contains("/") ? string.Empty : "X";
		var url = $"/Overall/{key}/{category}".Replace("//", "/");
		<a class="btn btn-sm btn-@Style(Model.ResultTypes[key])" href="@url">@Model.ResultTypes[key]</a>
	}
</div>