@using FLRC.Leaderboards.Core.Overall
@model OverallResultsViewModel

@functions
{
	string style(string type) => Model.ResultType == type
		? "secondary"
		: "light";
}

<div class="btn-group flex-wrap mb-3">
	@foreach (var key in Model.Config.Competitions.Keys)
	{
		var category = key.Contains("/") ? string.Empty : "X";
		var url = $"/Overall/{key}/{category}/{Model.Month}".Replace("//", "/");
		<a class="btn btn-sm btn-@style(Model.Config.Competitions[key])" href="@url">@Model.Config.Competitions[key]</a>
	}
</div>