@using System.Text.Json
@using FLRC.Leaderboards.Model
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<Athlete[]>

<h2>@Model.Title</h2>

<div class="card card-highlighted">
    <div class="card-body">
        <h5>Total: @Model.Data.Length</h5>

        <script>
            const fields = [
                { name: 'Name', value: a => a.Name, link: a => `/Athlete/Index/${a.ID}` },
                { name: 'Age', center: true, value: a => a.AgeToday || '' },
                { name: 'Category', center: true, value: a => a.Category, sort: a => a.Category ?? 'X' },
                @* { name: 'Team', center: true, value: r => r.Team.Display, sort: r => r.Team.Value, link: r => `/Team/Index/${r.Team.Value}`, show: @Model.Config.Features.AgeGroupTeams.ToString().ToLowerInvariant() }, *@
            ];

            const rows = @Html.Raw(JsonSerializer.Serialize(Model.Data));
        </script>

        @await Html.PartialAsync("DataTable", (Model.Title, "md"))
    </div>
</div>