@using FLRC.Leaderboards.Core
@model ErrorViewModel

<h2>Access Denied</h2>

<article class="card card-highlighted">
	<section class="card-body">
		You do not have access to this resource.
	</section>
</article>