@using System.Text.Json
@using FLRC.ChallengeDashboard
@model AthleteCourseViewModel

<h3>@Model.Athlete.Name</h3>
@await Html.PartialAsync("CourseInfo", Model.Course)

<script>
    const fields = [
        { name: 'Rank', center: true, value: r => r.Rank.Display, sort: r => r.Rank.Value },
        { name: 'Date', center: true, value: r => r.Result.StartTime.Display, sort: r => r.Result.StartTime.Value },
        { name: 'Time', center: true, value: r => r.Result.Duration.Display, sort: r => r.Result.Duration.Value },
        { name: 'Age Grade', center: true, value: r => r.AgeGrade.Display, sort: r => r.AgeGrade.Value, descending: true }
    ];

    results = @Html.Raw(JsonSerializer.Serialize(Model.Results));
</script>

@await Html.PartialAsync("Results")