:root {
	--primary-dark: #354612;
	--primary: #485e19;
	--primary-light: #8fa85b;
	--secondary-dark: #D9CCAC;
	--secondary: #E8E0CF;
	--secondary-light: #F7F2E7;
}

.navbar-brand .logo {
	background: #fffd;
	border-radius: 50%;
	border: 0.25rem solid var(--primary);
}