<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - FLRC 2021 Club Challenge</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="icon" href="~/favicon.png" />
        <link rel="stylesheet" href="~/app.css" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
                <div class="container justify-content-center">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="~/logo.png" alt="FLRC logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-sm-flex flex-sm-column">
                        <h1>FLRC 2021 Club Challenge</h1>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/rules">Rules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Races</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-muted">
            <div class="container text-center">
                &copy; 2020 Finger Lakes Runners Club
            </div>
        </footer>

        <script>
            Vue.config.devtools = true;
        </script>
    </body>

</html>
