@using FLRC.ChallengeDashboard
@model ViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@Model.Title — FLRC Challenge</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <link rel="stylesheet prefetch" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap">
    <link rel="stylesheet prefetch" href="https://ka-f.fontawesome.com/releases/v5.15.1/css/free-v4-font-face.min.css"/>
    <link rel="stylesheet prefetch" href="https://ka-f.fontawesome.com/releases/v5.15.1/css/free.min.css"/>

    <link rel="stylesheet" href="~/app.css" />
    <link rel="icon" href="~/favicon.png" />
</head>

<body>
    @await Html.PartialAsync("Header")

    <div class="container content-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container text-center">
            &copy; 2020 Finger Lakes Runners Club
        </div>
    </footer>

    <script>
        Vue.config.devtools = true;
    </script>
</body>

</html>
