@using FLRC.ChallengeDashboard
@model Course

<h4>@await Html.PartialAsync("CourseIcon", @Model) @Model.Name</h4>
<h5>@Model.Distance (@Model.Type)</h5>
<h6>
    <a href="@Model.URL">
        Course Info
    </a>
</h6>