@using FLRC.ChallengeDashboard
@model ResultsViewModel

<h2>Course Results</h2>
<div class="card-highlighted card mb-3">
    <div class="card-body">
        @await Html.PartialAsync("CourseInfo", Model.Course)
    </div>
</div>
@await Html.PartialAsync("ResultFilter")