@using FLRC.ChallengeDashboard
@model ViewModel

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
        <div class="container">
            <h1 class="sr-only">FLRC 2021 Club Challenge</h1>
            <a class="navbar-brand" href="/">
                <img class="logo" src="~/logo.png" alt="FLRC logo" />
            </a>
            <ul class="primary-nav nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown();">Races</a>
                    <ul id="dropdown" class="dropdown-menu position-absolute">
                        @foreach (var course in Model.CourseNames)
                        {
                            <li class="dropdown-item">
                                <a class="nav-link text-dark" href="/Course/@course.Key/Fastest">@course.Value</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Rules">Rules</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<script>
    const dropdown = document.getElementById('dropdown');
    function toggleDropdown() {
        dropdown.style = dropdown.style.length === 0
            ? "display: block;"
            : "";
        return false;
    }
</script>
