<app v-cloak>
    <div v-if="!show_results" class="alert alert-secondary">No results found</div>
    <table v-if="show_results" class="results table table-bordered table-striped table-hover table-sm table-responsive-lg">
        <thead>
            <tr>
                <th v-for="field in fields_to_show" class="sortable" tabindex="0" :class="{'text-center': field.center}" @@click="toggleSort(field)" @@keypress="toggleSort(field)">
                    <span v-if="field.center" class="spacer"></span>
                    {{field.name}}
                    <div class="spacer">
                        <span v-if="sort.field == field && !sort.descending">▾</span>
                        <span v-if="sort.field == field && sort.descending">▴</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="result in sorted_results">
                <td v-for="field in fields_to_show" :class="{'text-center': field.center}">
                    <a v-if="field.link" :href="field.link(result)">{{field.value(result)}}</a>
                    <span v-else>{{field.value(result)}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</app>

<script src="~/results.js"></script>