@using FLRC.Leaderboards.Core.Leaders
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<Leaderboard>

@functions
{
	string Style(LeaderboardResultType type) => Model.Data.LeaderboardResultType == type
		? "secondary"
		: "light";
}

@await Component.InvokeAsync("Dashboard", true)

@if (Model.Data.Config.Competitions.Any())
{
	<h2>Overall Leaders</h2>
	<div class="card card-highlighted">
		<div class="card-body">
			<div class="row justify-content-center">
				@foreach (var table in Model.Data.OverallResults)
				{
					var width = table.Link.Contains("/Points/") && Model.Data.OverallResults.Length % 2 == 1 ? "col-lg-6" : "col-lg-4";
					<div class="col-12 @width mb-3">
						@await Html.PartialAsync("Table", table)
					</div>
				}
			</div>
		</div>
	</div>
}
<h2 class="mt-3">@Model.Data.Config.CourseLabel Leaders</h2>
@if (Model.Data.Config.Features.MultiAttemptCompetitions)
{
	<div class="btn-group mb-2">
		@foreach (var type in Enum.GetValues<LeaderboardResultType>())
		{
			<a class="btn btn-sm btn-@Style(type)" href="/Leaderboard/Index/@type">@type</a>
		}
	</div>
}

@foreach (var (course, tables) in Model.Data.OfficialCourses.Where(r => r.Value.Any(t => t.Rows.Value.Any())))
{
	@await Html.PartialAsync("Course", (course, tables, Model.Data.Config.Features.ShowBadges))
}

@foreach (var (course, tables) in Model.Data.OtherCourses.Where(r => r.Value.Any(t => t.Rows.Value.Any())))
{
	@await Html.PartialAsync("Course", (course, tables, Model.Data.Config.Features.ShowBadges))
}