@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<ChallengeDashboard>

<h2>@Model.Title</h2>

<article class="card card-highlighted">
	<section class="card-body">
		@await Component.InvokeAsync("Dashboard")
		@await Html.PartialAsync("MyCourseTable")
	</section>
</article>