@using FLRC.Leaderboards.Web.ViewModels
@model HeadViewModel

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="apple-mobile-web-app-title" content="@Model.AppName"/>

	<title>@Model.PageTitle — @Model.AppName</title>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

	<link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"/>
	<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"/>
	<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"/>
	<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@75,900&display=swap"/>
	<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

	<link rel="stylesheet" href="~/app.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/@AppContext.GetData("Context")/theme.css" asp-append-version="true"/>

	<link rel="icon" type="image/png" href="~/@AppContext.GetData("Context")/favicon.png)" asp-append-version="true"/>
	<link rel="apple-touch-icon" type="image/png" href="~/@AppContext.GetData("Context")/favicon.png" asp-append-version="true"/>
	<link rel="apple-touch-startup-image" type="image/png" href="~/@AppContext.GetData("Context")/favicon.png" asp-append-version="true"/>
</head>