<h2>Fastest Times</h2>
<h3>Course 1</h3>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th colspan="3">Male</th>
            <th colspan="3">Female</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John Smith</td>
            <td>1:23</td>
            <td>1</td>
            <td>Jane Doe</td>
            <td>2:34</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jack O'Lantern</td>
            <td>2:34</td>
            <td>2</td>
            <td>Jill Hill</td>
            <td>3:45</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jim Halpert</td>
            <td>3:45</td>
            <td>3</td>
            <td>Pam Halpert</td>
            <td>4:56</td>
        </tr>
    </tbody>
</table>