@using FLRC.Leaderboards.Core.Results
@model CourseResultsViewModel

@functions
{
	string monthStyle(byte? month) => Model.Filter.Month == month
		? "secondary"
		: "light";
}

@if (Model.Config.Features.Monthly && Model.Months.Count > 1)
{
	<div class="row mb-2">
		<div class="col-12 text-center">
			<div class="flex-wrap btn-group">
				<a class="btn btn-sm btn-@monthStyle(null)" href="?ag=@Model.Filter.AgeGroup?.Value">All</a>
				@foreach (var month in Model.Months)
				{
					<a class="btn btn-sm btn-@monthStyle((byte) month.Month)" href="?ag=@Model.Filter.AgeGroup?.Value&month=@month.Month">
						@month.ToString("MMMM")
					</a>
				}
			</div>
		</div>
	</div>
}