@using FLRC.Leaderboards.Core.Teams
@using System.Text.Json
@model CourseTeamResultsViewModel

<h2>Course Results</h2>
<div class="card card-highlighted">
    <div class="card-body">
        @await Html.PartialAsync("CourseInfo", Model)
        @await Html.PartialAsync("ResultFilter")

        <script>
    const fields = [
        { name: 'Rank', width: 1, center: true, value: r => r.Rank.Value },
        { name: 'Team', width: 2, center: true, value: r => r.Team.Display, sort: r => r.Team.Value, link: r => `/Team/Index/${r.Team.Value}` },
        { name: 'Average Age Grade', width: 2, center: true, value: r => r.AverageAgeGrade.Display, sort: r => r.AverageAgeGrade.Value, descending: true },
        { name: 'Age Grade Points', width: 2, center: true, value: r => r.AgeGradePoints },
        { name: 'Total Runs', width: 2, center: true, value: r => r.TotalRuns },
        { name: 'Most Runs Points', width: 2, center: true, value: r => r.MostRunsPoints },
        { name: 'Total Points', width: 2, center: true, value: r => r.TotalPoints },
    ];

    const rows = @Html.Raw(JsonSerializer.Serialize(Model.Results));
</script>

        @await Html.PartialAsync("DataTable")

    </div>
</div>