@using FLRC.ChallengeDashboard
@model LeaderboardViewModel

<h3>Overall</h3>
<div class="row">
    @foreach (var table in Model.OverallResults)
    {
        @await Html.PartialAsync("Table", table)
    }
</div>

@foreach (var results in Model.CourseResults)
{
    <h4>@results.Key.Name</h4>
    <div class="row">
        @foreach (var table in results.Value)
        {
            @await Html.PartialAsync("Table", table)
        }
    </div>
}