@using FLRC.ChallengeDashboard
@model LeaderboardViewModel

@functions
{
    string style(LeaderboardResultType type) => Model.LeaderboardResultType == type
        ? "secondary"
        : "light";
}

<h2>Overall Leaders</h2>
<div class="row">
    @foreach (var table in Model.OverallResults)
    {
        <div class="col-12 col-sm-6 col-lg-3">
            @await Html.PartialAsync("Table", table)
        </div>
    }
</div>

<h2 class="mt-3">Course Leaders</h2>
<div class="btn-group mb-2">
    @foreach (var type in Enum.GetValues<LeaderboardResultType>())
    {
        <a class="btn btn-sm btn-@style(type)" href="/Leaderboard/Index/@type">@type</a>
    }
</div>
@foreach (var results in Model.CourseResults)
{
    <div class="card card-highlighted mb-3">
        <div class="card-header">@await Html.PartialAsync("CourseIcon", @results.Key) @results.Key.Name</div>
        <div class="card-body">
            <div class="row">
                @foreach (var table in results.Value)
                {
                    <div class="@(results.Value.Count() == 3 ? "col-12 col-md-4" : "col-12 col-sm-6")">
                        @await Html.PartialAsync("Table", table)
                    </div>
                }
            </div>
        </div>
    </div>
    
}