@using FLRC.Leaderboards.Model
@using FLRC.Leaderboards.Web.Areas.Admin

@model ViewModel<Series[]>

@await Html.PartialAsync("../AdminHeader")

<article class="card card-highlighted">
	<section class="card-body">

		<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<th scope="col">Key</th>
				<th scope="col">Name</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var series in Model.Data)
			{
				<tr>
					<th scope="row">
						<a href="/Admin/Series/Edit/@series.ID">
							@series.Key
						</a>
					</th>
					<td>
						@series.Name
					</td>
				</tr>
			}
			</tbody>
		</table>

		<a href="/Admin/Series/Add" class="btn btn-light">
			<i class="fas fa-plus-circle"></i>
			Add New Series
		</a>

	</section>
</article>