@using FLRC.ChallengeDashboard
@model TeamMembersViewModel

<a class="btn btn-light btn-sm float-right" href="/Team/Index/@Model.Team.Value">
    Team Page <i class="fas fa-arrow-right"></i>
</a>

<h2>@Model.Title</h2>

@await Html.PartialAsync("MemberList")