@using FLRC.Leaderboards.Model
@using FLRC.Leaderboards.Web.Areas.Admin
@model ViewModel<Athlete>

<h2>@Model.Title</h2>

<article class="card card-highlighted">
	<section class="card-body">
		<h3>Hi, @Model.Data.Name!</h3>

		<p>We've linked your accounts and you're ready for the next step!</p>

		<a href="/" class="btn btn-primary">
			View Leaderboard
		</a>
	</section>
</article>