.navbar-brand .logo {
    max-width: 10rem;
}

.dropdown-menu {
    left: unset;
    top: unset;
}

table.results {
    white-space: nowrap;
}

th.sortable {
    cursor: pointer;
}

th.sortable .spacer {
    display: inline-block;
    width: 1rem;
}