:root {
    --light-blue-color: #4b9eda;
    --dark-blue-color: #2e3595;
    --yellow-color: #ffd600;
    --light-yellow-color: #fff0a3;
}

body {
    background-color: #ecf7ff;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: var(--dark-blue-color);
}

h2 .btn {
    font-family: inherit;
}

.navbar {
    min-height: 7.5rem;
    border-bottom: 0.5rem solid var(--dark-blue-color);
    background: var(--yellow-color);
    background: linear-gradient(0deg, var(--yellow-color) 0%, var(--light-yellow-color) 30%, white 100%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.navbar .container {
    position: relative;
    align-self: flex-end;
}

.navbar-brand .logo {
    max-width: min(10rem, 37vw);
    position: absolute;
    top: -4.6rem;
    left: 0;
    transform: rotate(-12deg);
    filter: drop-shadow(0 0 0.5rem #999);
}

.content-container {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    border-top: 0.5rem solid var(--dark-blue-color);
    background-color: var(--dark-blue-color);
    color: white;
    padding: 1rem 1rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

a {
    color: var(--dark-blue-color);
}

.dropdown-menu {
    left: unset;
    top: unset;
    max-width: 100vw;
    margin-left: -5rem;
}

.dropdown-item {
    white-space: nowrap;
}

.btn {
    border: 1px solid #dae0e5;
}

table {
    white-space: nowrap;
    background-color: white;
    border-radius: 0.5rem;
}

th.sortable {
    cursor: pointer;
}

th.sortable .spacer {
    display: inline-block;
    width: 1rem;
}

th a {
    font-weight: normal;
}

table.leaderboard td.rank {
    width: 2rem;
}

table.leaderboard td.value {
    width: 5rem;
}

[v-cloak] {
    display: none;
}

.course-icon {
    margin-right: 0.25rem;
}

.card-highlighted {
    border-top: 0.25rem solid var(--light-blue-color);
}

.btn-xs {
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.8;
    border-radius: 0.2rem;
}

.tp-35 {
    opacity: 0.35;
}

@media (max-width: 575px) {
    .primary-nav {
        flex: 1;
    }

    .navbar {
        padding: 0;
        margin-bottom: 1rem;
    }

    .navbar-brand {
        display: block;
        padding: 0;
        margin: -0.4rem 0 0 0;
        width: 100vw;
        text-align: center;
    }

    .navbar-brand .logo {
        position: revert;
        transform: revert;
    }
}