:root {
    --light-blue-color: #4b9eda;
    --dark-blue-color: #2e3595;
    --yellow-color: #ffd600;
    --light-yellow-color: #fff0a3;
}

body {
    background-color: #ecf7ff;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Raleway', inherit;
    color: var(--dark-blue-color);
}

h2 .btn {
    font-family: inherit;
}

.navbar {
    min-height: 120px;
    border-bottom: 10px solid var(--dark-blue-color);
    background: var(--yellow-color);
    background: linear-gradient(0deg, var(--yellow-color) 0%, var(--light-yellow-color) 30%, white 100%);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin-bottom: 3em !important;
}

.navbar .container {
    position: relative;
    align-self: flex-end;
}

.navbar-brand .logo {
    max-width: min(10rem, 37vw);
    position: absolute;
    top: -75px;
    left: 0px;
    transform: rotate(-12deg);
    filter: drop-shadow(0px 0px 8px #999);
}

.content-container {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    border-top: 10px solid var(--dark-blue-color);
    background-color: var(--light-blue-color);
    color: white !important;
    padding: 1em 1em 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin-top: 2em;
}

a { 
    color: var(--light-blue-color);
}

.dropdown-menu {
    left: unset;
    top: unset;
    max-width: 100vw;
    margin-left: -4rem;
}

.dropdown-item {
    white-space: nowrap;
}

th a {
    font-weight: normal;
}

.btn {
    border: 1px solid #dae0e5;
}

table {
    white-space: nowrap;
    background-color: white;
    border-radius: 10px;
}

th.sortable {
    cursor: pointer;
}

th.sortable .spacer {
    display: inline-block;
    width: 1rem;
}

[v-cloak] {
    display: none;
}

.course-icon {
    margin-right: 5px;
}

.card-highlighted {
    border-top: 4px solid var(--light-blue-color);
}

.btn-group-xs>.btn, .btn-xs {
    padding: .1rem .5rem;
    font-size: .75rem;
    line-height: 1.8;
    border-radius: .2rem;
}

.tp-35 {
    opacity: 0.35;
}

@media (max-width: 575px) {
    .primary-nav {
        flex: 1;
    }
    .navbar {
        min-height: 200px;
        margin-bottom: 1em !important;
    }
    .navbar-brand {
        left: 50%; transform: translate(-50%,0); position: absolute; z-index: 1;    top: -160px;
    }
    .navbar-brand .logo {
        position: relative;
        top: initial;
        transform: initial;
    }
}