@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using FLRC.Leaderboards.Core
@model ViewModel

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("HeadComponent", Model.Title)

<body>
@await Component.InvokeAsync("HeaderComponent")

<div class="container content-container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

@await Html.PartialAsync("Footer")

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63008239-3"></script>
<script>
        Vue.config.devtools = true;
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-63008239-3');
    </script>
</body>

</html>