@using FLRC.Leaderboards.Core.Results
@model CourseResultsViewModel

<div class="float-sm-right mb-1 d-flex justify-content-between">
	<a class="course-info btn btn-sm btn-outline-dark" href="@Model.Course.Race.URL">
		<i aria-hidden="true" class="fas fa-info-circle"></i>
		Course Info
	</a>
	@if (Model.Config.Features.MultiAttempt)
	{
		<a class="activity-log btn btn-sm btn-outline-dark ml-2" href="/Log/Index/@Model.Course.ID">
			Activity Log
			<i aria-hidden="true" class="fas fa-arrow-right"></i>
		</a>
	}
</div>
<h4 class="mb-0">
	@Model.Course.Name
</h4>
@if (Model.Config.Features.ShowBadges)
{
	<div class="mb-2">
		<span class="badge badge-pill badge-secondary">@Model.Course.Race.Type</span>
		<span class="badge badge-pill badge-warning">@Model.Course.Distance.Display</span>
	</div>
}