@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using FLRC.Leaderboards.Core
@model DataTableViewModel

<app v-cloak>
    <div v-if="!show_table" class="alert alert-secondary">No data found</div>
    <table aria-label="Results for @Model.Title" v-if="show_table" class="table table-bordered table-striped table-hover table-sm table-responsive-@Model.ResponsiveBreakpoint">
        <thead>
            <tr>
                <th scope="col" v-for="field in fields_to_show" class="sortable" tabindex="0" :class="{'text-center': field.center}" @@click="toggleSort(field)" @@keypress="toggleSort(field)">
                    <span v-if="field.center" class="spacer"></span>
                    {{field.name}}
                    <div class="spacer">
                        <span v-if="sort.field == field && !sort.descending">▾</span>
                        <span v-if="sort.field == field && sort.descending">▴</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in sorted_rows" :class="{ 'bg-warning': fields[0].value(row) == 0 }" :style="row_style ? row_style(row) : null">
	            <td v-for="field in fields_to_show" :class="{'text-center': field.center}">
		            <div v-if="field.raw" v-html="field.raw(row)"></div>
		            <a v-else-if="field.link" :href="field.link(row)">{{field.value(row)}}</a>
		            <span v-else>{{field.value(row)}}</span>
	            </td>
            </tr>
        </tbody>
    </table>
</app>

<script src="~/data-table.js" asp-append-version="true"></script>