@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<Exception>

<h2>@(Model.Data is null ? "Page Not Found" : "Sorry, an unexpected error occurred")</h2>

<div class="card card-highlighted">
	<div class="card-body">
		<p>Please <a href="javascript:history.back()">go back</a> and try again, or contact an admin if the issue persists.</p>
		@if (Model.Data is not null)
		{
			<details>
				<summary>Details</summary>
				<pre>@Model.Data</pre>
			</details>
		}
	</div>
</div>