<footer class="footer">
    <div class="container text-center">
        <div class="small">
            &copy;2021&ndash;2026
            <a href="https://fingerlakesrunners.org">Finger Lakes Runners Club</a>
        </div>

        <div class="small">
            Developed and maintained by
            <a href="https://ecoAPM.com">ecoAPM</a>
        </div>

        <div class="small">
            <a href="https://github.com/FingerLakesRunnersClub/ChallengeDashboard">
                Source code
            </a>
            licensed under the
            <a href="https://github.com/FingerLakesRunnersClub/ChallengeDashboard/blob/main/LICENSE">
                GNU General Public License v3.0
            </a>
        </div>
    </div>
</footer>