@using FLRC.Leaderboards.Core
@model ViewModel

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-4">
        <div class="container">
            <h1 class="sr-only">FLRC Challenge</h1>
            <a class="navbar-brand" href="/">
                <img class="logo" src="~/logo.png" alt="FLRC logo"/>
            </a>
            <ul class="primary-nav nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown(this, event);">
                        Reports
                    </a>
                    <ul id="reports" class="dropdown-menu" onclick="event.stopPropagation();">
                        <li class="dropdown-item">
                            <a href="/Log">Activity Log</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="/Completed">Completions</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="/Athletes">Participants</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="/Statistics">Statistics</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown(this, event);">
                        Races
                    </a>
                    <ul id="races" class="dropdown-menu" onclick="event.stopPropagation();">
                        @foreach (var course in Model.Config.CourseNames)
                        {
                            <li class="dropdown-item">
                                <a href="/Course/@course.Key/Fastest">@course.Value</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown(this, event);">
                        About
                    </a>
                    <ul id="about" class="dropdown-menu" onclick="event.stopPropagation();">
                        @foreach (var link in Model.Config.Links)
                        {
                            <li class="dropdown-item">
                                <a href="@link.Value">@link.Key</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<script>
    function hideDropdowns() {
        document.querySelectorAll('.dropdown-menu').forEach(e => e.style = '');
    }

    function toggleDropdown(element, event) {
        const menu = element.parentElement.querySelector('.dropdown-menu');
        const show = menu.style.length === 0;
        hideDropdowns();
        menu.style = show ? 'display: block;' : '';
        event.stopPropagation();
        return false;
    }

    document.body.onclick = () => hideDropdowns();
</script>