@using FLRC.Leaderboards.Core.Overall
@using FLRC.Leaderboards.Core.Teams
@using System.Text.Json
@model OverallResultsViewModel<TeamMember>

<div class="card card-highlighted">
    <div class="card-body">

        <script>
            const fields = [
                { name: 'Rank', center: true, value: r => r.Rank.Value },
                { name: 'Name', value: r => r.Result.Athlete.Name, link: r => `/Athlete/Index/${r.Result.Athlete.ID}` },
                { name: 'Age', center: true, value: r => r.Result.Athlete.Age },
                { name: 'Category', center: true, value: r => r.Result.Athlete.Category?.Display, sort: r => r.Result.Athlete.Category?.Value ?? 'X'.charCodeAt(0) },
				{ name: 'Score', center: true, value: r => r.Value.Score.Display, sort: r => r.Value.Score.Value, descending: true },
				{ name: 'Courses Run', center: true, value: r => r.Value.Courses, sort: r => r.Value.Courses, descending: true },
                { name: 'Age Grade', center: true, value: r => r.Value.AgeGrade?.Display, sort: r => r.Value.AgeGrade?.Value, descending: true },
                { name: 'Total Runs', center: true, value: r => r.Value.Runs, descending: true },
                { name: 'Total Miles', center: true, value: r => r.Value.Miles.Display, sort: r => r.Value.Miles.Value, descending: true }
            ];

            const rows = @Html.Raw(JsonSerializer.Serialize(Model.RankedResults));
        </script>

        @await Html.PartialAsync("DataTable")
    </div>
</div>