<h2>Admin Menu</h2>

<article class="card card-highlighted">
	<section class="card-body">
		<p>
			<a href="/Admin/Series">
				Series Management
			</a>
		</p>

		<p>
			<a href="/Admin/Iterations">
				Iterations
			</a>
		</p>

		<p>
			<a href="/Admin/Races">
				Race Administration
			</a>
		</p>
	</section>
</article>