<h2>Admin Menu</h2>

<article class="card card-highlighted">
	<section class="card-body">
		<div class="row">
			<div class="col-sm-6">
				<p>
					<a href="/Admin/Series">
						Series Configuration
					</a>
				</p>

				<p>
					<a href="/Admin/Iterations">
						Iteration Management
					</a>
				</p>

				<p>
					<a href="/Admin/Races">
						Race Administration
					</a>
				</p>

				<p>
					<a href="/Admin/Challenges">
						Challenge Editor
					</a>
				</p>
			</div>

			<div class="col-sm-6">
				<p>
					<a href="/Admin/Athletes">
						Athlete Manager
					</a>
				</p>

				<p>
					<a href="/Admin/Community">
						Community Groups
					</a>
				</p>

				<p>
					<a href="/Admin/Results/Import">
						Result Importer
					</a>
				</p>
			</div>
		</div>
	</section>
</article>