@using FLRC.Leaderboards.Core
@using System.Text.Json
@model AthletesViewModel

<h2>@Model.Title</h2>

<div class="card card-highlighted">
    <div class="card-body">
        <h5>Total: @Model.Athletes.Count</h5>

        <script>
            const fields = [
                { name: 'Name', value: r => r.Name, link: r => `/Athlete/Index/${r.ID}` },
                { name: 'Age', center: true, value: r => r.AgeToday },
                { name: 'Category', center: true, value: r => r.Category?.Display, sort: r => r.Category?.Value ?? 'X'.charCodeAt(0) },
                { name: 'Team', center: true, value: r => r.Team.Display, sort: r => r.Team.Value, link: r => `/Team/Index/${r.Team.Value}` },
            ];

            const rows = @Html.Raw(JsonSerializer.Serialize(Model.Athletes.Values));
        </script>

        @await Html.PartialAsync("DataTable")
    </div>
</div>