@using FLRC.Leaderboards.Core
@model Course

<div class="float-sm-right mb-1 d-flex justify-content-between">
    <a class="course-info btn btn-sm btn-outline-dark mx-1" href="@Model.URL">
        <i aria-hidden="true" class="fas fa-info-circle tp-35"></i>
        Course Info
    </a>
    <a class="activity-log btn btn-sm btn-outline-dark mx-1" href="/Log/Index/@Model.ID">
        Activity Log
        <i aria-hidden="true" class="fas fa-arrow-right tp-35"></i>
    </a>
</div>
<h4 class="mb-0">
    @await Html.PartialAsync("CourseIcon", @Model) @Model.Name
</h4>
<div class="mb-3">
    <span class="badge badge-pill badge-secondary">@Model.Type</span>
    <span class="badge badge-pill badge-warning">@Model.Distance</span>
</div>
