@using FLRC.Leaderboards.Core.Athletes
@model AthleteHeader

@if (Model.ShowLink)
{
	<a class="btn btn-light btn-sm float-right" href="/Athlete/Index/@Model.Athlete.ID">
    Athlete Page <i aria-hidden="true" class="fas fa-arrow-right"></i>
</a>
}

<h2 id="athlete-header">
	@Model.Athlete.Name
	<small>
		(@Model.Athlete.AgeToday&nbsp;@Model.Athlete.Category?.Display)
		<span id="completion-badges">
			@foreach (var badge in Model.BadgeIcons)
			{
				<i aria-hidden="true" class="fas fa-@badge.Key" title="@badge.Value Complete"></i>
			}
		</span>
	</small>
</h2>