@using System.Text.Json
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<AthleteLog>

@await Component.InvokeAsync("AthleteHeader", Model.Data.Athlete.ID)

<div class="card-highlighted card mb-3">
    <div class="card-header">
        Activity Log
    </div>
    <div class="card-body">
        <script>
            const fields = [
                { name: 'Date', center: true, value: r => r.Result.StartTime, sort: r => r.Result.StartTime, descending: true },
                { name: 'Course', value: r => r.Result.Course.Race.Name, link: r => `/Results/Fastest/${r.Result.CourseID}?c=${r.Result.Athlete.Category}` },
                { name: 'Time', show: !@Model.Data.Athlete.IsPrivate.ToString().ToLowerInvariant(), center: true, value: r => r.Value.Display, sort: r => r.Value.Value },
                { name: 'Age Grade', show: !@Model.Data.Athlete.IsPrivate.ToString().ToLowerInvariant(), center: true, value: r => r.AgeGrade?.Display, sort: r => r.AgeGrade?.Value, descending: true }
   			];

            const rows = @Html.Raw(JsonSerializer.Serialize(Model.Data.Results));
        </script>

        @await Html.PartialAsync("DataTable", (Model.Title, "lg"))

    </div>
</div>