@using FLRC.Leaderboards.Web.ViewModels
@model AthleteSummary

<dl class="row mb-0">
	@foreach (var competition in Model.Competitions)
	{
		<dt class="col-6">
			@competition.Name.Replace($" ({Model.Athlete.Category})", "")
		</dt>
		<dd class="col-6">
			@competition.Value (<a href="/Overall/@competition.ID">@competition.Rank.Display</a>)
		</dd>
	}
</dl>